body {
	background-color: #0A080D;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubunti, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	margin: 0;
}

.shell {
	height: 100vh;
}

header {
	height: 56px;
	padding-top: 8px;
	background-color: #18121e;
	color: #FCF8ED;
	display: flex;
	justify-content: center;
}

header h1 {
	margin-top: 8px;
	font-size: 24px;
}

.message {
	display: block;
	color: #000;
	background-color: #EAC67A;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	padding: 16px;
}

.frame {
	overflow-y: auto;
	height: calc(100% - 64px);
}
